<div class="cardsList">
    <mat-list>
        <mat-list-item *ngFor="let contact of Contacts" class="contactListStyle">
            <span> {{contact.firstname}} </span>
            <span class="conatctEmail">{{contact.email}}</span>
            <span> {{contact.mobile}} </span>
            <!-- mat-divider></mat-divider -->
        </mat-list-item>
    </mat-list>
</div>

<div>
    <button class="addContact" mat-raised-button (click)="openDialog()">
        <i class="material-icons">add</i>
    </button>
</div>