<header>
    <div align=center>
        <form class="searchForm">
            <button mat-button (click)="sidenav.toggle()">
              <i class="material-icons" >menu</i>
            </button>
            <label>Google Keep</label>
            <mat-form-field>
                <input matInput type="text" placeholder="search" name="search">
            </mat-form-field>
            <button mat-raised-button color="primary">Search</button>
        </form>
    </div>
</header>

<div class="customSideNav">
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="customSideNav" mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
            <a href="#">One</a>
            <a href="#">Two</a>
            <a href="#">Three</a>
            <a href="#">Four</a>
        </mat-sidenav>

        <mat-sidenav-content class="mainContent">

            <p class="cardsGrid">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="black">

                        <mat-card *ngFor="let card of cards">
                            <mat-card-header>
                                <mat-card-title>{{card}}</mat-card-title>
                                <mat-card-subtitle>Praveen Gudivaka</mat-card-subtitle>
                            </mat-card-header>

                        </mat-card>

                    </mat-grid-tile>

                </mat-grid-list>
            </p>


        </mat-sidenav-content>
    </mat-sidenav-container>



</div>