<mat-toolbar class="headerContent">
    <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
        <label>Google Keep</label>
        <mat-form-field>
            <input matInput type="text" name="search">
        </mat-form-field>
        <span class="headerSpace"></span>
        <a href="#">
            <i class="material-icons">power_settings_new</i>
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<div class="customSideNav">
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="customSideNav" mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
            <a href="#">
                <button mat-button>Contacts</button>
            </a>
            <a href="#">
                <button mat-button>Notes</button>
            </a>
            <a href="#">
                <button mat-button>Music</button>
            </a>

        </mat-sidenav>

        <mat-sidenav-content class="mainContent">
            <app-contact-dashboard></app-contact-dashboard>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>