.customSideNav {
    height: 100%;
}

.customSideNav a {
    background-color: #FF9800;
    color: black;
    display: block;
    text-decoration: none;
}

.headerContent {
    background-color: #FFC400;
    display: flex;
    flex-direction: row;
}

.customSideNav {
    background-color: #FF9800;
    height: 100%;
}

.headerSpace {
    flex: 1 1 auto;
}

.cardsGrid {
    display: flex;
}

.cardsStyles {
    display: inline;
}